---
name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main, ci/sandbox]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint YAML
        uses: ibiqlik/action-yamllint@v3

      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: '.markdownlint-cli2.yaml'
          globs: |
            '**/*.md'
            !CHANGELOG.md

      - name: Run dotenv-linter
        uses: dotenv-linter/action-dotenv-linter@v3
        with:
          reporter: github-pr-review
          dotenv_linter_flags: --ignore-checks UnorderedKey
